<aside
  class="leftside-menu d-flex flex-column h-100"
  [ngClass]="false ? 'leftside-menu-open' : 'leftside-menu-close'"
>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul>
    <li>
      <a>
        <div></div>
        <span> home </span>
      </a>
    </li>
    <li>
      <a>
        <div></div>
        <span> chats </span>
      </a>
    </li>
    <li>
      <a>
        <div></div>
        <span> email </span>
      </a>
    </li>
    <li>
      <a>
        <div></div>
        <span> tasks </span>
      </a>
    </li>
  </ul>
</aside>
