<div
  class="d-flex gap-3 px-3 align-items-center navbar-custom justify-content-between"
>
  <div class="d-flex align-items-center h-100 w-100 justify-content-between">
    <div class="d-flex gap-2">
      <div>
        <i class="bi bi-list"></i>
      </div>
      <div>search</div>
    </div>
    <div class="d-flex align-items-center">
      <ul class="d-flex align-items-center gap-2">
        <li><i class="bi bi-bell"></i></li>
        <li><i class="bi bi-translate"></i></li>
        <li><i class="bi bi-gear-fill"></i></li>
        <li><i class="bi bi-moon"></i></li>
      </ul>
    </div>
  </div>

  <div class="d-flex align-items-center gap-2 profile">
    <div class="h-100">
      <img
        width="32"
        class="rounded-circle"
        src="https://coderthemes.com/hyper/saas/assets/images/users/avatar-1.jpg"
        alt="profile"
      />
    </div>
    <div class="d-flex h-100 flex-column w-100">
      <span>farid</span>
      <span>Admin</span>
    </div>
  </div>
</div>
